body {
    font: 14px/20px "Helvetica", "Century Gothic", Futura, sans-serif;
    margin: 60px 20px;
    text-align:center;
    color:#ffffff;
    background:#000000;
}

h2 {
    background-color:#787878;
    font-weight:normal;
    font-size:18px;
    margin:-5px auto 12px auto;
    padding:4px 10px;
    border-radius:0 0 5px 5px;
    display:inline-block;
    color:#000000;
}

hr {
    background:#787878;
    border:none;
    height:1px;
}

ul {
    list-style:none;
    padding:0;
}
.quote {
    padding:0 10%;
    color:#bbbbbb;
}
.green {
    color:#006B00;
}
.red {
    color:#860000;
}

.summary {
    overflow:hidden;
    text-align:justify;
    padding:0 15%;
    font:1.15em/1.5em "Times", Serif;
    font-weight:100;
}

.doors {
    margin:10px 20% 0 20%;
    display: flex;
    justify-content:center;
}
.doorWrap {
    flex-grow:1;
    text-align:center;
}
.fade {
    opacity:.15;
}
.doorShape {
    background:#787878;
    width:50%;
    margin:0 auto;
    color:#000000;
    border-radius:10px;
    min-height:150px;
}
.arrowWrap {
    height:44px;
}
.arrow {
    display:inline-block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 24px solid #1A9696;
}
.doorShape span {
    display:block;
    padding-top:30px;
    font-size:100px;
    line-height:80%;
}
.car {
    background-color:#006B00;
    display:inline-block;
    margin:6px auto 0 auto;
    padding:0 8px;
    border-radius:5px;
    color:#ffffff;
}
.goat {
    background-color:#860000;
    display:inline-block;
    margin:6px auto 0 auto;
    padding:0 8px;
    border-radius:5px;
    color:#ffffff;
}


.controls {
    padding-top:50px;
}
.controlsWrap {
    display: flex;
    width:30%;
    min-width:200px;
    margin:10px auto 0 auto;
}
.controlWrap {
    flex-grow:1;
    display:inline-block;
    justify-content:center;
    padding:0 2%;
}
.controlWrap > div:first-child {
    height:20px;
}

.controlWrap input[type='input'] {
    text-align:center;
    width:50px;
}

.controls .speed {
    width:50%;
}


.results {
    padding-top:50px;
}
.titleWins {
    float:left;
    background-color:#22C822;
    font-size: 18px;
    margin:6px auto 0 auto;
    padding:0 8px;
    border-radius:5px;
}
.titleLoses {
    float:right;
    background-color:#FA2B2B;
    font-size: 18px;
    margin:6px auto 0 auto;
    padding:0 8px;
    border-radius:5px;
}
.resultsWrap {
    position:relative;
    width:80%;
    margin:0 auto;
}
.leftAverageLine {
    height:100%;
    position:absolute;
    width:20%;
    padding-right:5px;
    border-right:1px solid #4b4b4b;
    text-align:right;
}
.rightAverageLine {
    height:100%;
    position:absolute;
    width:20%;
    padding-left:5px;
    border-left:1px solid #4b4b4b;
    text-align:left;
}
.rounds {
    min-width:400px;
    margin:0 auto;
    padding-top:40px;
    font-size:10px;
    position:relative;
}
.round {
    margin-bottom:20px;
}
.round > div > div {
    background:#4b4b4b;
    line-height:110%;
    border:solid #000000;
    position:relative;
    height: 12px;
}

.label {
    overflow:hidden;
}
.wins {
    position:absolute;
    float:left;
    left:-30px;
    top:0;
}
.loses {
    position:absolute;
    float:right;
    right:-30px;
    top:0;
}
span.switch {
    color:#FF943C;
    display:block;
}
div.switch > div.winner {
    background:#FF943C;
}
span.noSwitch {
    color:#2FC8C8;
    display:block;
}
div.noSwitch > div.winner {
    background:#2FC8C8;
}

.hide {
    display:none;
}
.show {
}